AutoMama.json
{
    "name": "AutoMama",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 992986,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -795,
                    "y": 1230
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "AutoMama Hook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2654940
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.q1}}",
                    "1": "{{1.q2}}",
                    "2": "{{1.q3}}",
                    "3": "{{1.q4}}",
                    "4": "{{1.q5}}",
                    "5": "{{1.q6}}",
                    "6": "{{1.q7}}",
                    "7": "{{1.q8}}"
                },
                "sheetId": "Hoja 1",
                "spreadsheetId": "/1svXToVe44qV2uvK2jBrei5QkZbA3LP4x/1GMEin4q0tW7M_-iy6uQanWRjW9OV5U4qkdt2JjJE0mA",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": -303,
                    "y": 1233
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Hoja 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Automatizacion SoyAutoMama",
                                "SoyAutoMAMA"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (digitalmagos.marketing@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 39,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "scoreInflamada",
                        "value": "{{sum(if(contains(lower(1.q1); \"dolor muscular\"); 1; 0); if(contains(lower(1.q1); \"inflamación\"); 1; 0); if(contains(lower(1.q2); \"rabia\"); 1; 0); if(contains(lower(1.q2); \"ansiedad\"); 1; 0); if(contains(lower(1.q4); \"estoy reprimiendo mucho emocionalmente\"); 1; 0); if(contains(lower(1.q5); \"me cuesta conciliar el sueño\"); 1; 0); if(contains(lower(1.q6); \"me cuesta funcionar\"); 1; 0); if(contains(lower(1.q8); \"estoy lista\"); 1; 0))}}"
                    },
                    {
                        "name": "scoreSobreviviente",
                        "value": "{{sum(if(contains(lower(1.q1); \"menstruación irregular\"); 1; 0); if(contains(lower(1.q1); \"digestión lenta\"); 1; 0); if(contains(lower(1.q2); \"tristeza\"); 1; 0); if(contains(lower(1.q2); \"vacío\"); 1; 0); if(contains(lower(1.q3); \"me siento sola\"); 1; 0); if(contains(lower(1.q4); \"no puedo sostener esta forma de vida\"); 1; 0); if(contains(lower(1.q6); \"estoy acostumbrada\"); 1; 0); if(contains(lower(1.q7); \"no tengo tiempo ni energía\"); 1; 0); if(contains(lower(1.q8); \"no estoy segura\"); 1; 0))}}"
                    },
                    {
                        "name": "scoreDesconectada",
                        "value": "{{sum(if(contains(lower(1.q1); \"confusión mental\"); 1; 0); if(contains(lower(1.q1); \"digestión lenta\"); 1; 0); if(contains(lower(1.q2); \"desconexión\"); 1; 0); if(contains(lower(1.q2); \"tristeza\"); 1; 0); if(contains(lower(1.q3); \"no me reconozco como mujer\"); 1; 0); if(contains(lower(1.q4); \"debo volver a mí\"); 1; 0); if(contains(lower(1.q4); \"no sé pero necesito entenderlo\"); 1; 0); if(contains(lower(1.q5); \"descanso pero sigo sin energía\"); 1; 0); if(contains(lower(1.q7); \"intento cuidarme pero no soy constante\"); 1; 0); if(contains(lower(1.q8); \"no sé por dónde empezar\"); 1; 0))}}"
                    },
                    {
                        "name": "scoreLucha",
                        "value": "{{sum(if(contains(lower(1.q1); \"fatiga intensa\"); 1; 0); if(contains(lower(1.q1); \"dificultad para concentrarme\"); 1; 0); if(contains(lower(1.q2); \"culpa\"); 1; 0); if(contains(lower(1.q2); \"ansiedad\"); 1; 0); if(contains(lower(1.q3); \"me sobre exijo\"); 1; 0); if(contains(lower(1.q3); \"no me cuido sin culpa\"); 1; 0); if(contains(lower(1.q5); \"duermo poco\"); 1; 0); if(contains(lower(1.q6); \"puedo con todo\"); 1; 0); if(contains(lower(1.q7); \"me cuido cuando ya no puedo más\"); 1; 0); if(contains(lower(1.q8); \"tengo dudas\"); 1; 0))}}"
                    },
                    {
                        "name": "jsonResult",
                        "value": "if(scoreInflamada >= max(scoreLucha; scoreDesconectada; scoreInflamada; scoreSobreviviente); \"{\\\"profileTitle\\\":\\\"Perfil: La emocionalmente inflamada\\\",\\\"archetypeText\\\":\\\"Tu cuerpo está inflamado, y no solo por lo que comes. Emociones como rabia contenida, tristeza silenciada o frustración acumulada están activando procesos inflamatorios profundos. Estás inflamándote emocional y físicamente a la vez.\\\",\\\"biologyText\\\":\\\"Cuando se reprimen emociones, el cuerpo libera citoquinas proinflamatorias, afectando articulaciones, piel, intestino y sistema hormonal. El hígado se sobrecarga al metabolizar emociones densas, lo que también altera el metabolismo general y la inmunidad.\\\",\\\"consequencesList\\\":[\\\"Dolor muscular, brotes de piel\\\",\\\"Ciclos menstruales alterados\\\",\\\"Migrañas frecuentes\\\",\\\"Problemas digestivos y hormonales\\\",\\\"Ansiedad y agotamiento mental prolongado\\\"],\\\"danjaNote\\\":\\\"Yo también aprendí a reprimir para sobrevivir. Hasta que mi cuerpo me gritó. No estás mal por sentir. Sanar es también permitirte liberar. Estoy aquí para acompañarte a hacerlo de forma segura y amorosa.\\\",\\\"affirmationText\\\":\\\"Coloca una canción que te conmueva, y deja que tu cuerpo se exprese. Llora, baila o tiembla. El cuerpo sabe cómo soltar.\\\"}\"; if(scoreSobreviviente >= max(scoreLucha; scoreDesconectada; scoreSobreviviente); \"{\\\"profileTitle\\\":\\\"Perfil: La que sobrevive en silencio\\\",\\\"archetypeText\\\":\\\"Has sostenido tanto por tanto tiempo que ahora estás apagada. No hay energía, ni ganas, ni entusiasmo. Solo rutina, cansancio y la sensación de que simplemente estás sobreviviendo. Tu cuerpo está en estado de congelamiento.\\\",\\\"biologyText\\\":\\\"Cuando el sistema nervioso entra en congelamiento (modo dorsal vagal), reduce la actividad de glándulas productoras de serotonina, dopamina y oxitocina. Esto genera un estado de desconexión fisiológica, disminuye la respuesta inmune y favorece estados inflamatorios, hormonales y emocionales complejos.\\\",\\\"consequencesList\\\":[\\\"Depresión de base fisiológica\\\",\\\"Hipotiroidismo\\\",\\\"Falta total de motivación (anhedonia)\\\",\\\"Aislamiento emocional\\\"],\\\"danjaNote\\\":\\\"Yo también estuve ahí. Sin ganas, sin energía, sin sentirme yo. Pero aprendí que incluso desde ese lugar hay un primer paso posible. No estás rota. Tu cuerpo solo se está protegiendo. Estoy aquí si quieres dar ese paso conmigo.\\\",\\\"affirmationText\\\":\\\"Toca tu corazón con las manos. Repite en voz baja: 'Estoy aquí. Y merezco más que sobrevivir.' Haz esto cada mañana, al despertar.\\\"}\"; if(scoreDesconectada >= max(scoreLucha; scoreDesconectada); \"{\\\"profileTitle\\\":\\\"Perfil: La desconectada de sí misma\\\",\\\"archetypeText\\\":\\\"Sientes que estás en piloto automático. Cumples con tus tareas, pero por dentro te sientes apagada, desconectada, como si hubieras perdido la brújula interna que te decía quién eres. Tu cuerpo no tiene energía, ni motivación.\\\",\\\"biologyText\\\":\\\"Tu sistema nervioso parasimpático —el encargado de regular descanso, digestión y regeneración— no se está activando correctamente. Esto interrumpe la producción de serotonina en el intestino, desregulando tu estado de ánimo, concentración y placer. Tu cuerpo prioriza solo lo urgente: sobrevivir, no vivir con claridad ni alegría.\\\",\\\"consequencesList\\\":[\\\"Insensibilidad emocional\\\",\\\"Ansiedad y apatía combinadas\\\",\\\"Problemas digestivos persistentes\\\",\\\"Sentimiento profundo de vacío personal\\\"],\\\"danjaNote\\\":\\\"Yo también olvidé cómo se sentía tener ganas. Perdí la conexión conmigo misma. Pero aprendí que volver a una misma no requiere cambios drásticos, sino pequeños actos de presencia. Hoy quiero guiarte en ese regreso a ti, con respeto y dulzura.\\\",\\\"affirmationText\\\":\\\"Escribe una carta para ti misma del futuro. Aunque no sepas por dónde empezar. Aunque solo pongas: 'Estoy intentando volver.' Escribir es empezar a escucharte.\\\"}\"; \"{\\\"profileTitle\\\":\\\"Perfil: La madre en lucha silenciosa\\\",\\\"archetypeText\\\":\\\"Eres una mujer fuerte, funcional y comprometida. Pero esa fuerza ha venido con un precio alto. Sostienes a todos y todo, incluso cuando no puedes más. Tu cuerpo está en una lucha silenciosa diaria, intentando mantenerte en pie a pesar del agotamiento interno.\\\",\\\"biologyText\\\":\\\"Tu sistema nervioso simpático —el que se activa en situaciones de peligro— está encendido crónicamente. Esto hace que tus glándulas suprarrenales produzcan cortisol sin pausa. Al mantener este estado por mucho tiempo, tu cuerpo entra en modo de supervivencia, suspendiendo funciones vitales como la digestión, el equilibrio hormonal y la regeneración celular. Así es como se debilita tu sistema inmune, se altera tu menstruación o tiroides, y aparecen síntomas como fatiga, ansiedad o insomnio.\\\",\\\"consequencesList\\\":[\\\"Fatiga suprarrenal\\\",\\\"Insomnio persistente\\\",\\\"Enfermedades autoinmunes (Hashimoto, lupus)\\\",\\\"Depresión fisiológica, cuando el cuerpo ya no produce neurotransmisores por agotamiento total.\\\"],\\\"danjaNote\\\":\\\"Yo también pensé que podía con todo… hasta que no pude más. Y mi cuerpo colapsó. Aprendí que sanar no es dejar de ser fuerte, es aprender a sostenerte tú primero. Estoy aquí para caminar contigo ese nuevo camino, con herramientas reales, sin exigencia y desde el amor propio.\\\",\\\"affirmationText\\\":\\\"Haz una pausa consciente. Respira 5 minutos con los ojos cerrados. Apóyate el corazón y repite: “Hoy me elijo a mí.”\\\"}\")))\n​"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 62,
                    "y": 1265
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "scoreInflamada",
                        "label": "scoreInflamada",
                        "type": "any"
                    },
                    {
                        "name": "scoreSobreviviente",
                        "label": "scoreSobreviviente",
                        "type": "any"
                    },
                    {
                        "name": "scoreDesconectada",
                        "label": "scoreDesconectada",
                        "type": "any"
                    },
                    {
                        "name": "scoreLucha",
                        "label": "scoreLucha",
                        "type": "any"
                    },
                    {
                        "name": "jsonResult",
                        "label": "jsonResult",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 44,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 3
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 362,
                    "y": 1265
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 45,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Perfil: La emocionalmente inflamada",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{39.scoreInflamada}}",
                                            "o": "number:greaterorequal",
                                            "b": "{{max(39.scoreLucha; 39.scoreDesconectada; 39.scoreInflamada; 39.scoreSobreviviente)}}"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "status": "200",
                                "body": "{\r\n  \"profileTitle\": \"Perfil: La emocionalmente inflamada\",\r\n  \"archetypeText\": \"Tu cuerpo está inflamado, y no solo por lo que comes. Emociones como rabia contenida, tristeza silenciada o frustración acumulada están activando procesos inflamatorios profundos. Estás inflamándote emocional y físicamente a la vez.\",\r\n  \"biologyText\": \"Cuando se reprimen emociones, el cuerpo libera citoquinas proinflamatorias, afectando articulaciones, piel, intestino y sistema hormonal. El hígado se sobrecarga al metabolizar emociones densas, lo que también altera el metabolismo general y la inmunidad.\",\r\n  \"consequencesList\": [\r\n    \"Dolor muscular, brotes de piel\",\r\n    \"Ciclos menstruales alterados\",\r\n    \"Migrañas frecuentes\",\r\n    \"Problemas digestivos y hormonales\",\r\n    \"Ansiedad y agotamiento mental prolongado\"\r\n  ],\r\n  \"danjaNote\": \"Yo también aprendí a reprimir para sobrevivir. Hasta que mi cuerpo me gritó. No estás mal por sentir. Sanar es también permitirte liberar. Estoy aquí para acompañarte a hacerlo de forma segura y amorosa.\",\r\n  \"affirmationText\": \"Coloca una canción que te conmueva, y deja que tu cuerpo se exprese. Llora, baila o tiembla. El cuerpo sabe cómo soltar.\"\r\n}",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 662,
                                    "y": 665
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "validate": {
                                            "min": 100
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        },
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 46,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Filtro Ruta 2: Perfil Sobreviviente en Silencio",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{39.scoreSobreviviente}}",
                                            "o": "number:greaterorequal",
                                            "b": "{{max(39.scoreLucha; 39.scoreDesconectada; 39.scoreSobreviviente)}}"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "status": "200",
                                "body": "{\n  \"profileTitle\": \"Perfil: La que sobrevive en silencio\",\n  \"archetypeText\": \"Has sostenido tanto por tanto tiempo que ahora estás apagada. No hay energía, ni ganas, ni entusiasmo. Solo rutina, cansancio y la sensación de que simplemente estás sobreviviendo. Tu cuerpo está en estado de congelamiento.\",\n  \"biologyText\": \"Cuando el sistema nervioso entra en congelamiento (modo dorsal vagal), reduce la actividad de glándulas productoras de serotonina, dopamina y oxitocina. Esto genera un estado de desconexión fisiológica, disminuye la respuesta inmune y favorece estados inflamatorios, hormonales y emocionales complejos.\",\n  \"consequencesList\": [\n    \"Depresión de base fisiológica\",\n    \"Hipotiroidismo\",\n    \"Falta total de motivación (anhedonia)\",\n    \"Aislamiento emocional\"\n  ],\n  \"danjaNote\": \"Yo también estuve ahí. Sin ganas, sin energía, sin sentirme yo. Pero aprendí que incluso desde ese lugar hay un primer paso posible. No estás rota. Tu cuerpo solo se está protegiendo. Estoy aquí si quieres dar ese paso conmigo.\",\n  \"affirmationText\": \"Toca tu corazón con las manos. Repite en voz baja: 'Estoy aquí. Y merezco más que sobrevivir.' Haz esto cada mañana, al despertar.\"\n}",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 863,
                                    "y": 1014
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "validate": {
                                            "min": 100
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        },
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 47,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Filtro Ruta 3: Perfil Desconectada",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{39.scoreDesconectada}}",
                                            "o": "time:greaterorequal",
                                            "b": "{{max(39.scoreLucha; 39.scoreDesconectada)}}"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "status": "200",
                                "body": "{\n  \"profileTitle\": \"Perfil: La desconectada de sí misma\",\n  \"archetypeText\": \"Sientes que estás en piloto automático. Cumples con tus tareas, pero por dentro te sientes apagada, desconectada, como si hubieras perdido la brújula interna que te decía quién eres. Tu cuerpo no tiene energía, ni motivación.\",\n  \"biologyText\": \"Tu sistema nervioso parasimpático —el encargado de regular descanso, digestión y regeneración— no se está activando correctamente. Esto interrumpe la producción de serotonina en el intestino, desregulando tu estado de ánimo, concentración y placer. Tu cuerpo prioriza solo lo urgente: sobrevivir, no vivir con claridad ni alegría.\",\n  \"consequencesList\": [\n    \"Insensibilidad emocional\",\n    \"Ansiedad y apatía combinadas\",\n    \"Problemas digestivos persistentes\",\n    \"Sentimiento profundo de vacío personal\"\n  ],\n  \"danjaNote\": \"Yo también olvidé cómo se sentía tener ganas. Perdí la conexión conmigo misma. Pero aprendí que volver a una misma no requiere cambios drásticos, sino pequeños actos de presencia. Hoy quiero guiarte en ese regreso a ti, con respeto y dulzura.\",\n  \"affirmationText\": \"Escribe una carta para ti misma del futuro. Aunque no sepas por dónde empezar. Aunque solo pongas: 'Estoy intentando volver.' Escribir es empezar a escucharte.\"\n}",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1111,
                                    "y": 1318
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "validate": {
                                            "min": 100
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        },
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 48,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Ruta 4: Perfil Lucha Silenciosa",
                                "conditions": []
                            },
                            "mapper": {
                                "status": "200",
                                "body": "{\n  \"profileTitle\": \"Perfil: La madre en lucha silenciosa\",\n  \"archetypeText\": \"Eres una mujer fuerte, funcional y comprometida. Pero esa fuerza ha venido con un precio alto. Sostienes a todos y todo, incluso cuando no puedes más. Tu cuerpo está en una lucha silenciosa diaria, intentando mantenerte en pie a pesar del agotamiento interno.\",\n  \"biologyText\": \"Tu sistema nervioso simpático —el que se activa en situaciones de peligro— está encendido crónicamente. Esto hace que tus glándulas suprarrenales produzcan cortisol sin pausa. Al mantener este estado por mucho tiempo, tu cuerpo entra en modo de supervivencia, suspendiendo funciones vitales como la digestión, el equilibrio hormonal y la regeneración celular. Así es como se debilita tu sistema inmune, se altera tu menstruación o tiroides, y aparecen síntomas como fatiga, ansiedad o insomnio.\",\n  \"consequencesList\": [\n    \"Fatiga suprarrenal\",\n    \"Insomnio persistente\",\n    \"Enfermedades autoinmunes (Hashimoto, lupus)\",\n    \"Depresión fisiológica, cuando el cuerpo ya no produce neurotransmisores por agotamiento total.\"\n  ],\n  \"danjaNote\": \"Yo también pensé que podía con todo… hasta que no pude más. Y mi cuerpo colapsó. Aprendí que sanar no es dejar de ser fuerte, es aprender a sostenerte tú primero. Estoy aquí para caminar contigo ese nuevo camino, con herramientas reales, sin exigencia y desde el amor propio.\",\n  \"affirmationText\": \"Haz una pausa consciente. Respira 5 minutos con los ojos cerrados. Apóyate el corazón y repite: “Hoy me elijo a mí.”\"\n}",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 765,
                                    "y": 1763
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "validate": {
                                            "min": 100
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        },
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 41,
                        "module": "util:SetVariable2",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "name": "perfilGanador",
                            "scope": "roundtrip",
                            "value": "if({{39.scoreInflamada}} >= max({{39.scoreLucha}}; {{39.scoreDesconectada}}; {{39.scoreInflamada}}; {{39.scoreSobreviviente}}); \"Inflamada\"; if({{39.scoreSobreviviente}} >= max({{39.scoreLucha}}; {{39.scoreDesconectada}}; {{39.scoreSobreviviente}}); \"Sobreviviente\"; if({{39.scoreDesconectada}} >= max({{39.scoreLucha}}; {{39.scoreDesconectada}}); \"Desconectada\"; \"Lucha\")))"
                        },
                        "metadata": {
                            "designer": {
                                "x": 810,
                                "y": 358,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [39] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Variable name",
                                    "required": true
                                },
                                {
                                    "name": "scope",
                                    "type": "select",
                                    "label": "Variable lifetime",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "roundtrip",
                                            "execution"
                                        ]
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Variable value"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "perfilGanador",
                                    "label": "perfilGanador",
                                    "type": "any"
                                }
                            ]
                        }
                    },
                    {
                        "id": 42,
                        "module": "util:Switcher",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "input": "perfilGanador",
                            "useRegExpMatch": false,
                            "casesTable": [
                                {
                                    "pattern": "Inflamada",
                                    "output": ""
                                },
                                {
                                    "pattern": "Sobreviviente",
                                    "output": ""
                                },
                                {
                                    "pattern": "Desconectada",
                                    "output": ""
                                }
                            ],
                            "elseOutput": "Lucha"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1102,
                                "y": 372
                            },
                            "restore": {
                                "expect": {
                                    "casesTable": {
                                        "mode": "chose",
                                        "items": [
                                            null,
                                            null,
                                            null
                                        ]
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "input",
                                    "type": "text",
                                    "label": "Input"
                                },
                                {
                                    "name": "useRegExpMatch",
                                    "type": "boolean",
                                    "label": "Use regular expressions to match",
                                    "required": true
                                },
                                {
                                    "name": "casesTable",
                                    "type": "array",
                                    "label": "Cases",
                                    "required": true,
                                    "spec": [
                                        {
                                            "name": "pattern",
                                            "label": "Pattern",
                                            "type": "text"
                                        },
                                        {
                                            "name": "output",
                                            "label": "Output",
                                            "type": "any"
                                        }
                                    ]
                                },
                                {
                                    "name": "elseOutput",
                                    "type": "any",
                                    "label": "Else"
                                }
                            ]
                        }
                    },
                    {
                        "id": 28,
                        "module": "builtin:BasicRouter",
                        "version": 1,
                        "mapper": null,
                        "metadata": {
                            "designer": {
                                "x": 1258,
                                "y": 671
                            }
                        },
                        "routes": [
                            {
                                "flow": [
                                    {
                                        "id": 26,
                                        "module": "json:CreateJSON",
                                        "version": 1,
                                        "parameters": {
                                            "type": 142183,
                                            "space": ""
                                        },
                                        "mapper": {
                                            "profileTitle": "Perfil: La emocionalmente inflamada",
                                            "archetypeText": "Tu cuerpo está inflamado, y no solo por lo que comes. Emociones como rabia contenida, tristeza silenciada o frustración acumulada están activando procesos inflamatorios profundos. Estás inflamándote emocional y físicamente a la vez.",
                                            "biologyText": "Cuando se reprimen emociones, el cuerpo libera citoquinas proinflamatorias, afectando articulaciones, piel, intestino y sistema hormonal. El hígado se sobrecarga al metabolizar emociones densas, lo que también altera el metabolismo general y la inmunidad.",
                                            "consequencesList": [
                                                "Dolor muscular, brotes de piel",
                                                "Insomnio persistente",
                                                "Migrañas frecuentes",
                                                "Problemas digestivos y hormonales"
                                            ],
                                            "danjaNote": "Yo también aprendí a reprimir para sobrevivir. Hasta que mi cuerpo me gritó. No estás mal por sentir. Sanar es también permitirte liberar. Estoy aquí para acompañarte a hacerlo de forma segura y amorosa.",
                                            "affirmationText": "Coloca una canción que te conmueva, y deja que tu cuerpo se exprese. Llora, baila o tiembla. El cuerpo sabe cómo soltar."
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1675,
                                                "y": 386
                                            },
                                            "restore": {
                                                "parameters": {
                                                    "type": {
                                                        "label": "Perfil Resultado Automama."
                                                    },
                                                    "space": {
                                                        "label": "Empty"
                                                    }
                                                },
                                                "expect": {
                                                    "consequencesList": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null,
                                                            null,
                                                            null,
                                                            null
                                                        ]
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "type",
                                                    "type": "udt",
                                                    "label": "Data structure",
                                                    "required": true
                                                },
                                                {
                                                    "name": "space",
                                                    "type": "select",
                                                    "label": "Indentation",
                                                    "validate": {
                                                        "enum": [
                                                            "tab",
                                                            "2",
                                                            "4"
                                                        ]
                                                    }
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "profileTitle",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "archetypeText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "biologyText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "consequencesList",
                                                    "type": "array",
                                                    "label": null,
                                                    "spec": {
                                                        "type": "text",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "danjaNote",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "affirmationText",
                                                    "type": "text",
                                                    "label": null
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 3,
                                        "module": "gateway:WebhookRespond",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "status": "200",
                                            "body": "{\n  \"profileTitle\": \"Perfil: La emocionalmente inflamada\",\n  \"archetypeText\": \"Tu cuerpo está inflamado, y no solo por lo que comes. Emociones como rabia contenida, tristeza silenciada o frustración acumulada están activando procesos inflamatorios profundos. Estás inflamándote emocional y físicamente a la vez.\",\n  \"biologyText\": \"Cuando se reprimen emociones, el cuerpo libera citoquinas proinflamatorias, afectando articulaciones, piel, intestino y sistema hormonal. El hígado se sobrecarga al metabolizar emociones densas, lo que también altera el metabolismo general y la inmunidad.\",\n  \"consequencesList\": [\n    \"Dolor muscular, brotes de piel\",\n    \"Ciclos menstruales alterados\",\n    \"Migrañas frecuentes\",\n    \"Problemas digestivos y hormonales\",\n    \"Ansiedad y agotamiento mental prolongado\"\n  ],\n  \"danjaNote\": \"Yo también aprendí a reprimir para sobrevivir. Hasta que mi cuerpo me gritó. No estás mal por sentir. Sanar es también permitirte liberar. Estoy aquí para acompañarte a hacerlo de forma segura y amorosa.\",\n  \"affirmationText\": \"Coloca una canción que te conmueva, y deja que tu cuerpo se exprese. Llora, baila o tiembla. El cuerpo sabe cómo soltar.\"\n}",
                                            "headers": []
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 2020,
                                                "y": 322
                                            },
                                            "restore": {
                                                "expect": {
                                                    "headers": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            },
                                            "expect": [
                                                {
                                                    "name": "status",
                                                    "type": "uinteger",
                                                    "label": "Status",
                                                    "validate": {
                                                        "min": 100
                                                    },
                                                    "required": true
                                                },
                                                {
                                                    "name": "body",
                                                    "type": "any",
                                                    "label": "Body"
                                                },
                                                {
                                                    "name": "headers",
                                                    "type": "array",
                                                    "label": "Custom headers",
                                                    "validate": {
                                                        "maxItems": 16
                                                    },
                                                    "spec": [
                                                        {
                                                            "name": "key",
                                                            "label": "Key",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 256
                                                            }
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 4096
                                                            }
                                                        }
                                                    ]
                                                }
                                            ],
                                            "advanced": true
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 27,
                                        "module": "json:CreateJSON",
                                        "version": 1,
                                        "parameters": {
                                            "type": 142183,
                                            "space": ""
                                        },
                                        "mapper": {
                                            "profileTitle": "Perfil: La que sobrevive en silencio",
                                            "archetypeText": "Has sostenido tanto por tanto tiempo que ahora estás apagada. No hay energía, ni ganas, ni entusiasmo. Solo rutina, cansancio y la sensación de que simplemente estás sobreviviendo. Tu cuerpo está en estado de congelamiento.",
                                            "biologyText": "Cuando el sistema nervioso entra en congelamiento (modo dorsal vagal), reduce la actividad de glándulas productoras de serotonina, dopamina y oxitocina. Esto genera un estado de desconexión fisiológica, disminuye la respuesta inmune y favorece estados inflamatorios, hormonales y emocionales complejos.",
                                            "consequencesList": [
                                                "Depresión de base fisiológica",
                                                "Hipotiroidismo",
                                                "Falta total de motivación (anhedonia)",
                                                "Aislamiento emocional"
                                            ],
                                            "danjaNote": "Yo también estuve ahí. Sin ganas, sin energía, sin sentirme yo. Pero aprendí que incluso desde ese lugar hay un primer paso posible. No estás rota. Tu cuerpo solo se está protegiendo. Estoy aquí si quieres dar ese paso conmigo.",
                                            "affirmationText": "Toca tu corazón con las manos. Repite en voz baja: 'Estoy aquí. Y merezco más que sobrevivir.' Haz esto cada mañana, al despertar."
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1722,
                                                "y": 598
                                            },
                                            "restore": {
                                                "parameters": {
                                                    "type": {
                                                        "label": "Perfil Resultado Automama."
                                                    },
                                                    "space": {
                                                        "label": "Empty"
                                                    }
                                                },
                                                "expect": {
                                                    "consequencesList": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null,
                                                            null,
                                                            null,
                                                            null
                                                        ]
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "type",
                                                    "type": "udt",
                                                    "label": "Data structure",
                                                    "required": true
                                                },
                                                {
                                                    "name": "space",
                                                    "type": "select",
                                                    "label": "Indentation",
                                                    "validate": {
                                                        "enum": [
                                                            "tab",
                                                            "2",
                                                            "4"
                                                        ]
                                                    }
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "profileTitle",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "archetypeText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "biologyText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "consequencesList",
                                                    "type": "array",
                                                    "label": null,
                                                    "spec": {
                                                        "type": "text",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "danjaNote",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "affirmationText",
                                                    "type": "text",
                                                    "label": null
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 33,
                                        "module": "gateway:WebhookRespond",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "status": "200",
                                            "body": "{\r\n  \"profileTitle\": \"Perfil: La que sobrevive en silencio\",\r\n  \"archetypeText\": \"Has sostenido tanto por tanto tiempo que ahora estás apagada. No hay energía, ni ganas, ni entusiasmo. Solo rutina, cansancio y la sensación de que simplemente estás sobreviviendo. Tu cuerpo está en estado de congelamiento.\",\r\n  \"biologyText\": \"Cuando el sistema nervioso entra en congelamiento (modo dorsal vagal), reduce la actividad de glándulas productoras de serotonina, dopamina y oxitocina. Esto genera un estado de desconexión fisiológica, disminuye la respuesta inmune y favorece estados inflamatorios, hormonales y emocionales complejos.\",\r\n  \"consequencesList\": [\r\n    \"Depresión de base fisiológica\",\r\n    \"Hipotiroidismo\",\r\n    \"Falta total de motivación (anhedonia)\",\r\n    \"Aislamiento emocional\"\r\n  ],\r\n  \"danjaNote\": \"Yo también estuve ahí. Sin ganas, sin energía, sin sentirme yo. Pero aprendí que incluso desde ese lugar hay un primer paso posible. No estás rota. Tu cuerpo solo se está protegiendo. Estoy aquí si quieres dar ese paso conmigo.\",\r\n  \"affirmationText\": \"Toca tu corazón con las manos. Repite en voz baja: 'Estoy aquí. Y merezco más que sobrevivir.' Haz esto cada mañana, al despertar.\"\r\n}",
                                            "headers": []
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 2041,
                                                "y": 570
                                            },
                                            "restore": {
                                                "expect": {
                                                    "headers": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            },
                                            "expect": [
                                                {
                                                    "name": "status",
                                                    "type": "uinteger",
                                                    "label": "Status",
                                                    "validate": {
                                                        "min": 100
                                                    },
                                                    "required": true
                                                },
                                                {
                                                    "name": "body",
                                                    "type": "any",
                                                    "label": "Body"
                                                },
                                                {
                                                    "name": "headers",
                                                    "type": "array",
                                                    "label": "Custom headers",
                                                    "validate": {
                                                        "maxItems": 16
                                                    },
                                                    "spec": [
                                                        {
                                                            "name": "key",
                                                            "label": "Key",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 256
                                                            }
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 4096
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 29,
                                        "module": "json:CreateJSON",
                                        "version": 1,
                                        "parameters": {
                                            "type": 142183,
                                            "space": ""
                                        },
                                        "mapper": {
                                            "profileTitle": "Perfil: La desconectada de sí misma",
                                            "archetypeText": "Sientes que estás en piloto automático. Cumples con tus tareas, pero por dentro te sientes apagada, desconectada, como si hubieras perdido la brújula interna que te decía quién eres. Tu cuerpo no tiene energía, ni motivación.",
                                            "biologyText": "Tu sistema nervioso parasimpático —el encargado de regular descanso, digestión y regeneración— no se está activando correctamente. Esto interrumpe la producción de serotonina en el intestino, desregulando tu estado de ánimo, concentración y placer. Tu cuerpo prioriza solo lo urgente: sobrevivir, no vivir con claridad ni alegría.",
                                            "consequencesList": [
                                                "Insensibilidad emocional",
                                                "Ansiedad y apatía combinadas",
                                                "Problemas digestivos persistentes",
                                                "Sentimiento profundo de vacío personal"
                                            ],
                                            "danjaNote": "Yo también pensé que podía con todo… hasta que no pude más. Y mi cuerpo colapsó. Aprendí que sanar no es dejar de ser fuerte, es aprender a sostenerte tú primero. Estoy aquí para caminar contigo ese nuevo camino, con herramientas reales, sin exigencia y desde el amor propio.",
                                            "affirmationText": "Escribe una carta para ti misma del futuro. Aunque no sepas por dónde empezar. Aunque solo pongas: 'Estoy intentando volver.' Escribir es empezar a escucharte."
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1728,
                                                "y": 853
                                            },
                                            "restore": {
                                                "parameters": {
                                                    "type": {
                                                        "label": "Perfil Resultado Automama."
                                                    },
                                                    "space": {
                                                        "label": "Empty"
                                                    }
                                                },
                                                "expect": {
                                                    "consequencesList": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null,
                                                            null,
                                                            null,
                                                            null
                                                        ]
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "type",
                                                    "type": "udt",
                                                    "label": "Data structure",
                                                    "required": true
                                                },
                                                {
                                                    "name": "space",
                                                    "type": "select",
                                                    "label": "Indentation",
                                                    "validate": {
                                                        "enum": [
                                                            "tab",
                                                            "2",
                                                            "4"
                                                        ]
                                                    }
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "profileTitle",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "archetypeText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "biologyText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "consequencesList",
                                                    "type": "array",
                                                    "label": null,
                                                    "spec": {
                                                        "type": "text",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "danjaNote",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "affirmationText",
                                                    "type": "text",
                                                    "label": null
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 32,
                                        "module": "gateway:WebhookRespond",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "status": "200",
                                            "body": "{\n  \"profileTitle\": \"Perfil: La desconectada de sí misma\",\n  \"archetypeText\": \"Sientes que estás en piloto automático. Cumples con tus tareas, pero por dentro te sientes apagada, desconectada, como si hubieras perdido la brújula interna que te decía quién eres. Tu cuerpo no tiene energía, ni motivación.\",\n  \"biologyText\": \"Tu sistema nervioso parasimpático —el encargado de regular descanso, digestión y regeneración— no se está activando correctamente. Esto interrumpe la producción de serotonina en el intestino, desregulando tu estado de ánimo, concentración y placer. Tu cuerpo prioriza solo lo urgente: sobrevivir, no vivir con claridad ni alegría.\",\n  \"consequencesList\": [\n    \"Insensibilidad emocional\",\n    \"Ansiedad y apatía combinadas\",\n    \"Problemas digestivos persistentes\",\n    \"Sentimiento profundo de vacío personal\"\n  ],\n  \"danjaNote\": \"Yo también olvidé cómo se sentía tener ganas. Perdí la conexión conmigo misma. Pero aprendí que volver a una misma no requiere cambios drásticos, sino pequeños actos de presencia. Hoy quiero guiarte en ese regreso a ti, con respeto y dulzura.\",\n  \"affirmationText\": \"Escribe una carta para ti misma del futuro. Aunque no sepas por dónde empezar. Aunque solo pongas: 'Estoy intentando volver.' Escribir es empezar a escucharte.\"\n}",
                                            "headers": []
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 2066,
                                                "y": 848
                                            },
                                            "restore": {
                                                "expect": {
                                                    "headers": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            },
                                            "expect": [
                                                {
                                                    "name": "status",
                                                    "type": "uinteger",
                                                    "label": "Status",
                                                    "validate": {
                                                        "min": 100
                                                    },
                                                    "required": true
                                                },
                                                {
                                                    "name": "body",
                                                    "type": "any",
                                                    "label": "Body"
                                                },
                                                {
                                                    "name": "headers",
                                                    "type": "array",
                                                    "label": "Custom headers",
                                                    "validate": {
                                                        "maxItems": 16
                                                    },
                                                    "spec": [
                                                        {
                                                            "name": "key",
                                                            "label": "Key",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 256
                                                            }
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 4096
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 30,
                                        "module": "json:CreateJSON",
                                        "version": 1,
                                        "parameters": {
                                            "type": 142183,
                                            "space": ""
                                        },
                                        "mapper": {
                                            "profileTitle": "Perfil: La madre en lucha silenciosa",
                                            "archetypeText": "Eres una mujer fuerte, funcional y comprometida. Pero esa fuerza ha venido con un precio alto. Sostienes a todos y todo, incluso cuando no puedes más. Tu cuerpo está en una lucha silenciosa diaria, intentando mantenerte en pie a pesar del agotamiento interno.",
                                            "biologyText": "Tu sistema nervioso simpático —el que se activa en situaciones de peligro— está encendido crónicamente. Esto hace que tus glándulas suprarrenales produzcan cortisol sin pausa. Al mantener este estado por mucho tiempo, tu cuerpo entra en modo de supervivencia, suspendiendo funciones vitales como la digestión, el equilibrio hormonal y la regeneración celular. Así es como se debilita tu sistema inmune, se altera tu menstruación o tiroides, y aparecen síntomas como fatiga, ansiedad o insomnio.",
                                            "consequencesList": [
                                                "Fatiga suprarrenal",
                                                "Insomnio persistente",
                                                "Enfermedades autoinmunes (Hashimoto, lupus)",
                                                "Depresión fisiológica, cuando el cuerpo ya no produce neurotransmisores por agotamiento total."
                                            ],
                                            "danjaNote": "Yo también pensé que podía con todo… hasta que no pude más. Y mi cuerpo colapsó. Aprendí que sanar no es dejar de ser fuerte, es aprender a sostenerte tú primero. Estoy aquí para caminar contigo ese nuevo camino, con herramientas reales, sin exigencia y desde el amor propio.",
                                            "affirmationText": "Haz una pausa consciente. Respira 5 minutos con los ojos cerrados. Apóyate el corazón y repite: “Hoy me elijo a mí.”"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1743,
                                                "y": 1115
                                            },
                                            "restore": {
                                                "parameters": {
                                                    "type": {
                                                        "label": "Perfil Resultado Automama."
                                                    },
                                                    "space": {
                                                        "label": "Empty"
                                                    }
                                                },
                                                "expect": {
                                                    "consequencesList": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null,
                                                            null,
                                                            null,
                                                            null
                                                        ]
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "type",
                                                    "type": "udt",
                                                    "label": "Data structure",
                                                    "required": true
                                                },
                                                {
                                                    "name": "space",
                                                    "type": "select",
                                                    "label": "Indentation",
                                                    "validate": {
                                                        "enum": [
                                                            "tab",
                                                            "2",
                                                            "4"
                                                        ]
                                                    }
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "profileTitle",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "archetypeText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "biologyText",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "consequencesList",
                                                    "type": "array",
                                                    "label": null,
                                                    "spec": {
                                                        "type": "text",
                                                        "name": "value"
                                                    }
                                                },
                                                {
                                                    "name": "danjaNote",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "affirmationText",
                                                    "type": "text",
                                                    "label": null
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 31,
                                        "module": "gateway:WebhookRespond",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "status": "200",
                                            "body": "{\n  \"profileTitle\": \"Perfil: La madre en lucha silenciosa\",\n  \"archetypeText\": \"Eres una mujer fuerte, funcional y comprometida. Pero esa fuerza ha venido con un precio alto. Sostienes a todos y todo, incluso cuando no puedes más. Tu cuerpo está en una lucha silenciosa diaria, intentando mantenerte en pie a pesar del agotamiento interno.\",\n  \"biologyText\": \"Tu sistema nervioso simpático —el que se activa en situaciones de peligro— está encendido crónicamente. Esto hace que tus glándulas suprarrenales produzcan cortisol sin pausa. Al mantener este estado por mucho tiempo, tu cuerpo entra en modo de supervivencia, suspendiendo funciones vitales como la digestión, el equilibrio hormonal y la regeneración celular. Así es como se debilita tu sistema inmune, se altera tu menstruación o tiroides, y aparecen síntomas como fatiga, ansiedad o insomnio.\",\n  \"consequencesList\": [\n    \"Fatiga suprarrenal\",\n    \"Insomnio persistente\",\n    \"Enfermedades autoinmunes (Hashimoto, lupus)\",\n    \"Depresión fisiológica, cuando el cuerpo ya no produce neurotransmisores por agotamiento total.\"\n  ],\n  \"danjaNote\": \"Yo también pensé que podía con todo… hasta que no pude más. Y mi cuerpo colapsó. Aprendí que sanar no es dejar de ser fuerte, es aprender a sostenerte tú primero. Estoy aquí para caminar contigo ese nuevo camino, con herramientas reales, sin exigencia y desde el amor propio.\",\n  \"affirmationText\": \"Haz una pausa consciente. Respira 5 minutos con los ojos cerrados. Apóyate el corazón y repite: “Hoy me elijo a mí.”\"\n}",
                                            "headers": []
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 2161,
                                                "y": 1142
                                            },
                                            "restore": {
                                                "expect": {
                                                    "headers": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            },
                                            "expect": [
                                                {
                                                    "name": "status",
                                                    "type": "uinteger",
                                                    "label": "Status",
                                                    "validate": {
                                                        "min": 100
                                                    },
                                                    "required": true
                                                },
                                                {
                                                    "name": "body",
                                                    "type": "any",
                                                    "label": "Body"
                                                },
                                                {
                                                    "name": "headers",
                                                    "type": "array",
                                                    "label": "Custom headers",
                                                    "validate": {
                                                        "maxItems": 16
                                                    },
                                                    "spec": [
                                                        {
                                                            "name": "key",
                                                            "label": "Key",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 256
                                                            }
                                                        },
                                                        {
                                                            "name": "value",
                                                            "label": "Value",
                                                            "type": "text",
                                                            "required": true,
                                                            "validate": {
                                                                "max": 4096
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ],
                [
                    {
                        "id": 43,
                        "module": "gateway:WebhookRespond",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "status": "200",
                            "body": "{{39.jsonResult}}",
                            "headers": [
                                {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                },
                                {
                                    "key": "Access-Control-Allow-Origin",
                                    "value": "*"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 2018,
                                "y": 1580,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [39] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null,
                                            null
                                        ]
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "status",
                                    "type": "uinteger",
                                    "label": "Status",
                                    "validate": {
                                        "min": 100
                                    },
                                    "required": true
                                },
                                {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                },
                                {
                                    "name": "headers",
                                    "type": "array",
                                    "label": "Custom headers",
                                    "validate": {
                                        "maxItems": 16
                                    },
                                    "spec": [
                                        {
                                            "name": "key",
                                            "label": "Key",
                                            "type": "text",
                                            "required": true,
                                            "validate": {
                                                "max": 256
                                            }
                                        },
                                        {
                                            "name": "value",
                                            "label": "Value",
                                            "type": "text",
                                            "required": true,
                                            "validate": {
                                                "max": 4096
                                            }
                                        }
                                    ]
                                }
                            ],
                            "advanced": true
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}